section.client 
	img.client__img(src="@img/Client/client__img-1.jpg", alt="")
	img.client__img(src="@img/Client/client__img-2.jpg", alt="")
	img.client__img(src="@img/Client/client__img-3.jpg", alt="")
	img.client__img(src="@img/Client/client__img-4.jpg", alt="")
	img.client__img(src="@img/Client/client__img-5.jpg", alt="")