section.deation
	.deation__container
		h2.deation__title.page-title Deation &amp;&nbsp; Evaluation - Best Way to Kick off Your Product Idea
		.deation__content
			.deation__item
				h4.deation__name Product Design Sprint
				.deation__info 
					p A five-day workshop that will help you answer crucial business questions
				a.deation__link.page-link(href="") Read More
			.deation__item
				h4.deation__name Scoping Session
				.deation__info 
					p A workshop aimed at shaping your business idea, answering questions regarding project planning
				a.deation__link.page-link(href="") Read More
			.deation__item
				h4.deation__name UX Review
				.deation__info 
					p An evaluation which will help you radically improve your product.
				a.deation__link.page-link(href="") Read More
			.deation__item
				h4.deation__name Code Review
				.deation__info 
					p Do you know what one of the key secrets of success is what makes people successful in business
				a.deation__link.page-link(href="") Read More