section.feature 
	.feature__block
		.feature__image
			img(src="@img/Feature/feature__img-1.jpg", alt="Feature product")
		.feature__content 
			.feature__container
				.feature__body
					h2.feature__title.page-title The wall new Balenciaga.com
					.feature__text 
						p This article is floated online with an aim to help you find the best dvd printing solution.
						p Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
					a.feature__link.page-link(href="") See Case Study
				.feature__note
					p.feature__comment “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
					.feature__profile
						img.feature__photo(src="@img/Feature/feature__photo-1.jpg", alt="Author photo")
						.feature__author 
							h3.feature__name Angel Armstrong
							p.feature__prof Founder &amp;&nbsp;CEO, Google
	.feature__block
		.feature__content 
			.feature__container
				.feature__body
					h2.feature__title.page-title Is this the future of 3D model?
					.feature__text 
						p While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space.
						p It is those feelings that drive our love of astronomy and our desire to learn more and more about it.
					a.feature__link.page-link(href="") See Case Study
				.feature__note
					p.feature__comment “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
					.feature__profile
						img.feature__photo(src="@img/Feature/feature__photo-2.jpg", alt="Author photo")
						.feature__author 
							h3.feature__name Angel Armstrong
							p.feature__prof Founder &amp;&nbsp;CEO, Google
		.feature__image
			img(src="@img/Feature/feature__img-2.jpg", alt="Feature product")
	.feature__block
		.feature__image
			img(src="@img/Feature/feature__img-3.jpg", alt="Feature product")
		.feature__content 
			.feature__container
				.feature__body
					h2.feature__title.page-title  Is this the future of Online Booking
					.feature__text 
						p You should be able to find several indispensable facts about motivation in the following paragraphs. 
						p If there’s at least one fact you didn’t know before, imagine the difference it might make.
					a.feature__link.page-link(href="") See Case Study
				.feature__note
					p.feature__comment “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
					.feature__profile
						img.feature__photo(src="@img/Feature/feature__photo-3.jpg", alt="Author photo")
						.feature__author 
							h3.feature__name Angel Armstrong
							p.feature__prof Founder &amp;&nbsp;CEO, Google