footer.footer(style="background-image: url('@img/Footer/footer__bg.jpg')")
	.footer__container 
		.footer__top
			.footer__contact 
				p.footer__contact-title Phone
				a.footer__contact-info(href="tel:+3250312832") +32 50 31 28 32
			.footer__contact 
				p.footer__contact-title Address
				a.footer__contact-info(href="") 491 Merlin Crest Suite 963
		.footer__body
			.footer__column
				h4.footer__title Services
				ul.footer__nav
					li.footer__item
						a.footer__link(href="") Strategy Design
					li.footer__item
						a.footer__link(href="") Product Design
					li.footer__item
						a.footer__link(href="") Content Strategy
					li.footer__item
						a.footer__link(href="") Brand Strategy
					li.footer__item
						a.footer__link(href="") Development
			.footer__column
				h4.footer__title Help And Advice
				ul.footer__nav
					li.footer__item
						a.footer__link(href="") How it works
					li.footer__item
						a.footer__link(href="") Contact Support
					li.footer__item
						a.footer__link(href="") Privacy Policy
					li.footer__item
						a.footer__link(href="") FAQ
			.footer__column
				h4.footer__title Company
				ul.footer__nav
					li.footer__item
						a.footer__link(href="") About
					li.footer__item
						a.footer__link(href="") Blog
					li.footer__item
						a.footer__link(href="") Contact
					li.footer__item
						a.footer__link(href="") Jobs
			.footer__column
				h4.footer__title Get in Touch
				p.footer__text Feel free to get in touch with us vai email
				a.footer__email(href="mailto:info.webovio@gmail.com") info.webovio@gmail.com
				.footer__social 
					a.footer__social-link._icon-facebook(href="", target="_blank", aria-label="Link to Facebook") 
					a.footer__social-link._icon-twitter(href="", target="_blank", aria-label="Link to Twitter") 
					a.footer__social-link._icon-google_plus(href="", target="_blank", aria-label="Link to Google Plus") 
					a.footer__social-link._icon-linkedin(href="", target="_blank", aria-label="Link to LinkedIn") 
		.footer__copy
			.footer__logo 
				svg.footer__logo_icon
					use(xlink:href="#header__logo")
			small.footer__rights &copy;&nbsp;2020@webovio. All Rights Reserved.