header.header 
	.header__container
		a.header__logo(href="index.html")
			svg.header__logo_icon
					use(xlink:href="#header__logo")
		.header__menu
			button(type="button" class="menu__icon icon-menu")
				span
			nav.menu
				ul.menu__list
					li.menu__item
						a.menu__link(href="") Services
					li.menu__item
						a.menu__link(href="") Project
					li.menu__item
						a.menu__link(href="") Deation