section.intro(style="background-image: url('./img/Intro/intro__bg.jpg')")
	.intro__container
		.intro__content
			p.intro__suptitle A place where 
			h1.intro__title A creative agency for redemptive brands
			p.intro__text Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
			a.intro__link(href="#") Get in touch
