section.project
	.project__container
		h2.project__title.page-title We Have Some Awesomr Project.
		.project__text 
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 