section.services
	.services__container
		.services__content 
			p.services__suptitle What we do for you
			h2.services__title.page-title Strategy. Design  Content. Technology Development 
			p.services__text There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.
			a.services__link.page-link(href="") More know About us
		.services__note
			p.services__comment With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
			.services__profile
				img.services__photo(src="@img/Services/services__photo.jpg", alt="Author photo")
				.services__author 
					h3.services__name Genevieve Rodriquez
					p.services__prof Founder &amp;&nbsp;CEO, Webovio