doctype html
html(lang="en")
	head
	include html/head
	body(style="background-color: #fff;")
		include html/sprite
		.wrapper
			include html/header
			main.page
				include html/intro
				include html/client
				include html/services
				include html/project
				include html/feature
				include html/deation
				include html/call
			include html/footer
		script(src="js/app.min.js")