@use "sass:math";
@use "sass:map";

@import "vars";
@import "mixins";
/*--------------------*/
/*** Null ***/
@import "null";
/*--------------------*/
/*** Fonts ***/
@import "fonts/fonts";
@import "fonts/icons";

/*--------------------*/
body {
	font-family: $fontFamily;
	@include font-source-sans(rem($fontSize), math.div(26, 16), 400, #000);
	font-style: normal;
	text-align: left;
	position: relative;

	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	>main {
		flex: 1 1 auto;
	}
}

[class*="__container"] {
	width: 100%;
	max-width: rem($maxWidthContainer); // 1110px
	margin: auto;
	padding: 0 rem(math.div($containerPadding, 2));
}

section {
	width: 100%;
	// padding: rem(160) 0;
	// background-position: center;
	// background-size: cover;
	// background-repeat: no-repeat;
}

.page {

	.page-title {
		font-weight: 700;
		font-size: rem(36);
		line-height: math.div(46, 36);
		color: #4D533C;
	}

	.page-link {
		padding: 0 0 0 rem(5);
		margin: 0 0 0 rem(10);
		line-height: math.div(18, 16);
		border-bottom: 1px solid currentColor;
		color: #D4D6D4;
		position: relative;

		&::before {
			position: absolute;
			top: 50%;
			left: rem(-15);
			transform: translateY(-50%);
			@extend %ic;
			@extend ._icon-arrow;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #FFD723;
				border: none;
			}
		}
	}
}

@import "components/header";
@import "components/intro";
@import "components/client";
@import "components/services";
@import "components/project";
@import "components/feature";
@import "components/deation";
@import "components/call";
@import "components/footer";